@model IEnumerable<M6_C8_P1.Models.Team>

@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-12">
        <h5 class=" mt-3 d-flex justify-content-start"><strong>Team Information...</strong></h5>

        <div class="d-flex justify-content-end mb-3">
            <a href="@Url.Action("Create", "Teams")" class="btn btn-outline-primary btn-sm rounded-pill px-4">
                <i class="bi bi-plus"></i> Create New
            </a>
        </div>

        <table class="table table-bordered table-striped table-sm">
            <thead class="bg-success">
                <tr>
                    <th></th>
                    <th>Team Logo</th>
                    <th>Team Name</th>
                    <th>Country</th>
                    <th>Established</th>
                    <th>Board President</th>
                    <th>Coach</th>
                    <th>Captain</th>
                    <th>Ranking</th>
                    <th>Home Ground</th>
                    <th>WC Winner? </th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr style="vertical-align: middle" , id="tr_@t.Id">
                        <td class="text-center">
                            <button type="button" id="show_@t.Id" class="btn btn-link btn-sm show" data-aid="@t.Id"><i class="bi bi-plus-square"></i></button>
                            <button type="button" id="hide_@t.Id" class="btn btn-link btn-sm hide" data-aid="@t.Id" style="display:none"><i class="bi bi-dash-square"></i></button>
                        </td>
                        <td class="text-center"><img src="~/Pictures/@t.TeamLogo" class="img-thumbnail rounded-circle" style="width:50px" /></td>
                        <td>@t.TeamName</td>
                        <td>@t.Country</td>
                        <td>@t.Established.ToString("yyyy-mm-dd")</td>
                        <td>@t.BoardPresident</td>
                        <td>@t.Coach</td>
                        <td>@t.Captain</td>
                        <td>@t.Ranking</td>
                        <td>@t.HomeGround</td>
                        <td>@(t.IsWCWinner ? "Yes": "No")</td>

                        <td>
                            <a title="Edit this item" href="@Url.Action("Edit", "Teams", new {id=t.Id})" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a>
                            <button type="button" title="Delete this item" data-pk="@t.Id" href="@Url.Action("Delete", "Customers", new {id=t.Id})" class="btn btn-danger btn-sm del"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr style="display:none" id="p_@t.Id">
                        <td></td>
                        <td colspan="12">
                            <h4 class="bg-success d-flex justify-content-lg-center", style="padding:5px; color:white"><strong>Players information</strong></h4>
                            <table class="table table-bordered table-sm">
                                <thead class="table-light">
                                    <tr>
                                        <th>Player Name</th>
                                        <th>Age</th>
                                        <th>Playing Role</th>
                                        <th>Matches</th>
                                        <th>Runs</th>
                                        <th>Hundred</th>
                                        <th>Fifty</th>
                                        <th>Wicket</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in t.Players)
                                    {
                                        <tr>
                                            <td>@p.PlayerName</td>
                                            <td>@p.Age</td>
                                            <td>@p.PlayingRole</td>
                                            <td>@p.Matches</td>
                                            <td>@p.Runs</td>
                                            <td>@p.Hundred</td>
                                            <td>@p.Fifty</td>
                                            <td>@p.Wicket</td>
                                            <td>@p.Salary</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-3">
            @Html.PagedListPager((IPagedList)Model, pg => Url.Action("Index", new { pg = pg }), new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="delmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title"><strong>Delete Confirmation!</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnyes">Yes</button>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
}
@section scripts
{

    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <script>
        $(() => {
            $(".show").click(function () {
                var aid = $(this).data("aid");
                //console.log(aid);
                $(`#p_${aid}`).show();
                $(`#hide_${aid}`).show();
                $(this).hide();
            });
            $(".hide").click(function () {
                var aid = $(this).data("aid");
                //console.log(aid);
                $(`#p_${aid}`).hide();
                $(`#show_${aid}`).show();
                $(this).hide();
            })
        });
    </script>

    <script>
        var delModal;
        var delId = -1;
        $(() => {
            delModal = new bootstrap.Modal(document.getElementById('delmodal'));
            $(".del").click(function () {
                delModal.show();
                delId = $(this).data("pk");
                console.log(delId);
            });
            $("#btnyes").click(() => {
                $.ajax({
                    type: "post",
                    url: "/Teams/Delete/" + delId,
                    dataType: "json",
                    success: (r) => {
                        if (r.success == true) {
                            $("#tr_" + delId).remove();
                        }
                    }
                });
                delModal.hide();
            });
        })
    </script>

    <script>
        $('#delmodal').on('show.bs.modal', function () {
            $(this).slideDown(500);
        });

        $('#delmodal').on('hide.bs.modal', function () {
            $(this).slideUp(500);
        });
    </script>
}
