@model M6_C8_P1.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Register</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary()
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username..." })
                            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password..." })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password..." })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <a href="/Accounts/Login">Login</a>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@*@model M6_C8_P1.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-12">
        <h3>Register</h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group row mb-1">
                <div class="col-4">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username..." })
                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-4">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password..." })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-4">
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Password..." })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <div class="d-flex justify-content-between">
                        <a href="/Accounts/Register">Register</a>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@

